.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background-color: #707070;
  padding: 25px;
}

.navbar-inverse {
  background-color: #202020;
  border-color: #202020;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFDF6C;
}

.jumbotron {
  background-color: #FFFFFF;
  color: #FFDF6C;
}



.btn-secondary {
  font-size: 20px;
}

.container-fluid.bg-3 {
  background-color: #f2f2f2;
  padding: 25px;
}
