.jumbotron {
    background-color: #FFFFFF;
    color: #FFDF6C;
  }
  
  .container-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  
  #map {
    height: 400px; /* Set the height for the map */
    width: 80%;
  }
  