<div class="jumbotron text-center">
    <div class="container">
      <h1>Proiectarea Rețelelor de Transport Public</h1>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="mb-4 d-flex flex-row">
      <select class="form-select me-4" id="transport-station-select" aria-label="Select a station">
        <option selected disabled>Choose a station</option>
        <option value="1">Station 1</option>
        <option value="2">Station 2</option>
        <option value="3">Station 3</option>
        <option value="4">Station 4</option>
        <option value="5">Station 5</option>
      </select>
  
      <select class="form-select me-4" id="transport-station-select2" aria-label="Select a station">
        <option selected disabled>Choose a station</option>
        <option value="1">Station 1</option>
        <option value="2">Station 2</option>
        <option value="3">Station 3</option>
        <option value="4">Station 4</option>
        <option value="5">Station 5</option>
      </select>
  
      <input type="text" class="form-control me-4" id="distance-input" placeholder="Introduceți distanța">
      <input type="text" class="form-control" id="demand-input" placeholder="Introduceți cererea">
    </div>
  </div>
  
  <div class="container-map">
    <div id="map" style="height: 400px;"></div>
  </div>
  