<div class="container container-main text-center">
  <h2>Datele din Iași</h2>
  <form [formGroup]="formDatele" (ngSubmit)="submitDateleForm()">
    <div class="mb-4 d-flex flex-row justify-content-center align-items-start">
      <div class="me-4">
        <label for="stationSelect1">Selectează prima stație</label>
        <select class="form-select" formControlName="stationSelect1" id="stationSelect1" aria-label="Selectează prima stație">
          <option disabled selected>Alegeți o stație</option>
          <option *ngFor="let stop of stops" [value]="stop.stop_id">{{ stop.stop_name }}</option>
        </select>
      </div>

      <div class="me-4">
        <label for="stationSelect2">Selectează a doua stație</label>
        <select class="form-select" formControlName="stationSelect2" id="stationSelect2" aria-label="Selectează a doua stație">
          <option disabled selected>Alegeți o stație</option>
          <option *ngFor="let stop of stops" [value]="stop.stop_id">{{ stop.stop_name }}</option>
        </select>
      </div>

      <div class="me-4">
        <label for="distance-input">Introduceți timpul</label>
        <input type="text" class="form-control" id="distance-input" formControlName="distanceInput" placeholder="Introduceți timpul">
        <div class="invalid-feedback" *ngIf="formDatele.get('distanceInput')?.invalid && formDatele.get('distanceInput')?.touched">
          Introduceți un timp valid.
        </div>
      </div>

      <div>
        <label for="demand-input">Introduceți cererea</label>
        <input type="text" class="form-control" id="demand-input" formControlName="demandInput" placeholder="Introduceți cererea">
        <div class="invalid-feedback" *ngIf="formDatele.get('demandInput')?.invalid && formDatele.get('demandInput')?.touched">
          Introduceți o valoare pentru cerere.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary custom-button">Modifică datele</button>
  </form>
</div>

<div class="container container-main text-center mt-5">
  <h2>Parametrii Algoritmului</h2>
  <form [formGroup]="formParametrii" (ngSubmit)="submitParametriiForm()">
    <div class="row mb-4 justify-content-center">
      <div class="col-md-3">
        <label for="population-size-input">Dimensiunea Populației</label>
        <input type="text" class="form-control" id="population-size-input" formControlName="populationSizeInput"
          placeholder="Dimensiunea Populației">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('populationSizeInput')?.invalid && formParametrii.get('populationSizeInput')?.touched">
          Dimensiunea Populației trebuie să fie un număr întreg mai mare sau egal cu 5.
        </div>
      </div>
      <div class="col-md-3">
        <label for="tournament-size-input">Dimensiunea Turneului</label>
        <input type="text" class="form-control" id="tournament-size-input" formControlName="tournamentSizeInput"
          placeholder="Dimensiunea Turneului">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('tournamentSizeInput')?.invalid && formParametrii.get('tournamentSizeInput')?.touched">
          Dimensiunea Turneului trebuie să fie un număr întreg mai mare sau egal cu 2.
        </div>
      </div>

      <div class="col-md-3">
        <label for="crossover-probability-input">Probabilitate Interschimbării</label>
        <input type="text" class="form-control" id="crossover-probability-input" formControlName="crossoverProbabilityInput"
          placeholder="Probabilitate Interschimbării">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('crossoverProbabilityInput')?.invalid && formParametrii.get('crossoverProbabilityInput')?.touched">
          Probabilitate Interschimbării trebuie să fie un număr între 0 și 1.
        </div>
      </div>

      <div class="col-md-3">
        <label for="deletion-probability-input">Probabilitatea Ștergerii</label>
        <input type="text" class="form-control" id="deletion-probability-input" formControlName="deletionProbabilityInput"
          placeholder="Probabilitatea Ștergerii">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('deletionProbabilityInput')?.invalid && formParametrii.get('deletionProbabilityInput')?.touched">
          Probabilitatea Ștergerii trebuie să fie un număr între 0 și 1.
        </div>
      </div>
    </div>
    <div class="row mb-4 justify-content-center">
      <div class="col-md-3">
        <label for="small-mutation-probability-input">Probabilitatea Mutației cu Modificare Mică</label>
        <input type="text" class="form-control" id="small-mutation-probability-input"
          formControlName="smallMutationProbabilityInput" placeholder="Probabilitatea Micilor Mutări">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('smallMutationProbabilityInput')?.invalid && formParametrii.get('smallMutationProbabilityInput')?.touched">
          Probabilitatea Mutației trebuie să fie un număr între 0 și 1.
        </div>
      </div>
      <div class="col-md-3">
        <label for="number-of-generations-input">Numărul de Generații</label>
        <input type="text" class="form-control" id="number-of-generations-input" formControlName="numberOfGenerationsInput"
          placeholder="Numărul de Generații">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('numberOfGenerationsInput')?.invalid && formParametrii.get('numberOfGenerationsInput')?.touched">
          Numărul de Generații trebuie să fie un număr întreg mai mare ca 1.
        </div>
      </div>
      <div class="col-md-3">
        <label for="elite-size-input">Dimensiunea Elitei</label>
        <input type="text" class="form-control" id="elite-size-input" formControlName="eliteSizeInput"
          placeholder="Dimensiunea Elitei">
        <div class="invalid-feedback"
          *ngIf="formParametrii.get('eliteSizeInput')?.invalid && formParametrii.get('eliteSizeInput')?.touched">
          Dimensiunea Elitei trebuie să fie un număr mai mare sau egal cu 1.
        </div>
      </div>
    </div>
    <button 
    type="submit" 
    class="btn custom-button" 
    [ngClass]="{ 'btn-danger': isAlgorithmRunning, 'btn-primary': !isAlgorithmRunning }">
    {{ isAlgorithmRunning ? 'Anulează' : 'Generează algoritm' }}
  </button>
  </form>
  <div *ngIf="isAlgorithmRunning" class="mt-3">
    Generația {{ currentGeneration }} din {{ totalGenerations }}
  </div>
</div>

<div class="container container-main text-center mt-5">
  <h2>Hartă</h2>
  
  <div class="mb-4">
    <label for="file-select">Selectați un fișier</label>
    <select class="form-select" id="file-select" (change)="onFileSelect($event)">
      <option disabled selected>Alegeți un fișier</option>
      <option *ngFor="let file of files" [value]="file.id">{{ file.filename }}</option>
    </select>
  </div>
  
  <div id="map-container" class="map-container">
    <div id="map" style="height: 400px; width: 100%;"></div>
  </div>
</div>

<div class="container">
  <div *ngFor="let route of routes" class="route-container" (click)="displayRoute(route.id)">
    <h3>Route {{ route.id }}</h3>
    <ul class="stops-list">
      <li *ngFor="let stop of route.stops">
        {{ getStopName(stop) }}
      </li>
    </ul>
  </div>
</div>