.jumbotron {
    background-color: #f2f2f2;
    color: #FFDF6C;

  }
  
  body {
    background-color: #f2f2f2;; 
}
  .container-main {
    background-color: #ffffff; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
  .container-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  #map {
    height: 400px; 
    width: 80%;
  }
  .container-main {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
  }
  
  .map-container {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }

  .custom-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFD747;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto; 
}
  
  .custom-button:hover {
    background-color: #FFE485; 
  }

  .invalid-feedback {
    display: block;
    color: #dc3545;
    font-size: 80%;
  }