.container .card {
    width: 25rem;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.custom-login-btn {
    background-color: #FFDF6C;
    color: black;
    border: #707070;
    width: 8rem; /* Schimbă lățimea butonului la nevoie */
}

.custom-login-btn:hover {
    background-color: #F5C000;
    color: #f2f2f2;
}


