{% extends 'layout.html' %}

{% block title %}Home - Proiectarea Rețelelor de Transport Public{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Proiectarea Rețelelor de Transport Public</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="mb-4 d-flex flex-row">
    <select class="form-select me-4" id="transport-station-select" aria-label="Select a station">
      <option selected disabled>Choose a station</option>
      <option value="1">Station 1</option>
      <option value="2">Station 2</option>
      <option value="3">Station 3</option>
      <option value="4">Station 4</option>
      <option value="5">Station 5</option>
    </select>

    <select class="form-select me-4" id="transport-station-select2" aria-label="Select a station">
      <option selected disabled>Choose a station</option>
      <option value="1">Station 1</option>
      <option value="2">Station 2</option>
      <option value="3">Station 3</option>
      <option value="4">Station 4</option>
      <option value="5">Station 5</option>
    </select>

    <input type="text" class="form-control me-4" id="distance-input" placeholder="Introduceți distanța">
    <input type="text" class="form-control" id="demand-input" placeholder="Introduceți cererea">
  </div>
</div>

<div class="container-map">
  <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL9n-iu4Ata_D057iAE-Fo2sly5rhuZiA&loading=async&callback=initMap&v=weekly&libraries=marker" async defer></script>
{% endblock %}
