{% extends 'layout.html' %}

{% block title %}Login - Proiectarea Rețelelor de Transport Public{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card " >
    <div class="card-body text-center">
      <h5 class="card-title ">Welcome</h5>
      <form>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <button type="submit" class="btn custom-login-btn">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
